src/main/rudi/S*.rudi
src/main/rudi/interrupt.rudi
src/main/rudi/interrupt.yml
src/main/resources/ontology/automaton.nt
src/main/resources/ontology/dialogue.nt
src/main/resources/ontology/domain.nt
src/main/resources/ontology/interrupt.nt
src/main/resources/ontology/toplevel.nt